################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WEBAPI-E2/obj
/WEBAPI-E2/bin/Debug/net6.0
/WEBAPI-E2/.vs/WEBAPI-E2
